*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  background: linear-gradient(rgba(78, 41, 41, 0.5), rgba(0, 0, 0, 0.7)),
    url("../Dos-img/farma.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color : white;
}

form.tout_entete{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   text-align: center;
   font-size: 20px;
   margin-top: -10px;
}

.text{
   font-size: 18px;
   text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
   margin-bottom: 10px;
}

div.entete_input{
   width: 100%;
   font-size: 13px;
}

.sreach_input{
   width: 400px;
   height: 33px;
   padding-left: 20px;
   padding-right: 20px;
   border-top-left-radius: 15px ;
   border-bottom-left-radius: 15px;
   border: 1px solid white;
   font-size: 13px;
   border-right: 1px solid black;
   outline: none;
}

select{
   width: 200px;
   height: 33px;
   padding-left: 10px;
   padding-right: 10px;
   border: 1px solid white;
   margin-left: -4px;
   font-size: 13px;
   border-left: 2px solid black;
   outline: none;
}

option{
   background-color: green;
   color: white;
}

.sreach_btn{
   width: 180px;
   height: 33px;
   font-size: 12px;
   background-color: green;
   color: white;
   border-top-right-radius: 15px ;
   border-bottom-right-radius: 15px;
   border: 1px solid white;
   font-size: 13px;
   transition: all 0.3s ease;
   &:hover{
     background-color : white;
     color: green;
   }
}

section.hero{
   width: 100%;
   height: auto;
   flex-direction: column;
   display: flex;
   background-color: white;
   padding: 30px 20px 20px 20px;
   color: black;
   margin-top: 30px;
}

.sous-titre, h2{
   font-size: 25px;
   margin-left: 50px;
}

.grille{
   width: 100%;
   height: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 25px;
   row-gap: 25px;
   padding: 20px 37px;
   align-items: start;
   justify-items: center;
}

.pharmacie{
   width: 520px;
   height: 320px;
   background-color: white;
   border-radius: 10px;
   padding: 15px;
   display: flex;
   padding: 20px 20px 20px 20px;
   flex-direction: column;
   justify-content: space-between;
   font-size: 16px;
   border: none;
   transition: all 0.3s ease;
   &:hover{
      box-shadow: 7px 7px 7px black;
   }
}

h2.name{
   color: green;
   font-size: 20px;
   margin-top: 10px;
}

div.contenu{
   width: 470px;
   height: 180px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
}

.info{
   width: 225px;
   height: 180px;
   border-radius: 10px;
   padding: 20px 10px 0px 20px ;
   flex-direction: column;
   font-size: 18px;
}

.imag{
   width: 220px;
   height: 175px;
   background-color: green;
   border-radius: 10px;
   margin-right: 10px;
}

button.voir{
   width: 445px;
   height: 40px;
   margin-top: 10px;
   border-radius: 10px;
   justify-content: center;
   background-color: rgb(3, 173, 3);
   color: white;
   margin-left: 15px;
   border: none;
   font-size: 16px;
   transition: all 0.3s ease;
   &:hover{
      background-color: green;
   }
}

.plus{
   display: flex;
   justify-content: center;
   margin-top: 60px;
   margin-bottom: 80px;
}

button.voir_plus{
    width: 400px;
    height: 40px;
    border: 0.1px solid green;
    border-radius: 25px;
    font-size: medium;
    transition: all 0.3s ease;
    &:hover{
       width: 480px;
       height: 41px;
       background-color: green;
       color: white;
    }
}

