body{
    background-color: rgb(6, 156, 6);
}

div.mot-bienvenue{
    color: white;
    border-radius: 10px;
    height: 10vh;
    padding: 20px 20px;
}

div.section{
    background-color: white;
    height: 71vh;
    border-radius: 10px;
    padding: 10px 0px 0px 0px;
}

div.reservation{
    background-color: transparent;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}
div.reservation-en-cours{
    background-color: rgb(231, 208, 208);
    height: 7vh;
    width: 40vh;
    border-radius: 10px;
    border-left: 3px solid rgb(3, 158, 3);
    border-bottom: 3px solid rgb(3, 158, 3);
    padding: 20px 20px;
}
div.reservation-confirmer{
    background-color: rgb(231, 208, 208);
    height: 7vh;
    width: 40vh;
    border-radius: 10px;
    border-left: 3px solid rgb(3, 158, 3);
    border-bottom: 3px solid rgb(3, 158, 3);
    padding: 20px 20px;
}
div.reservation-total{
    background-color: rgb(231, 208, 208);
    height: 7vh;
    width: 40vh;
    border-radius: 10px;
    border-left: 3px solid rgb(3, 158, 3);
    border-bottom: 3px solid rgb(3, 158, 3);
    padding: 20px 20px;
}   
div.reservation-annuler{
    background-color: rgb(231, 208, 208);
    height: 7vh;
    width: 40vh;
    border-radius: 10px;
    border-left: 3px solid rgb(3, 158, 3);
    border-bottom: 3px solid rgb(3, 158, 3);
    padding: 20px 20px;
}

div.hero{
    height: 50vh;
    background: rgb(255, 243, 243);
    padding: 15px 15px;
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
    flex-direction: column;
}

div.reservation-suplement{
    height: 45vh;
    background-color: rgb(255, 201, 201);
    margin: 10px 10px 0px 10px;
    border-radius: 10px;
    border: 1px solid black;
}

div.footer{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.footer, h2{
    color: white;
}

ul li{
    list-style: none;
    display: flex;
    color: white;
    justify-content: center;
}

ul li a{
    text-decoration: none;
    color: white;
}

div.footer ul{
    display: flex;
    gap: 20px;
}

a.btn{
    display: flex;
}